<div class="not-card not-card1">
<h1 class="float-left">Posts</h1>
<div class="table-responsive">
<table  id="table_id" class="table">

<thead>
    <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Posted User</th>
    <th>Created At</th>
    <th>Operations</th>
    </tr>
</thead>
<tbody>
    <tr>
    
    </tr>
</tbody>

</table>
</div>
<div id="postDetail" class="modal fade" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="width:700px"></div>
  </div>
</div>
</div>


