<div class= "card"> 
<h3>Welcome to Bulletin Board.</h3>

<%= button_to "Login", handle_login_path, method: :get, class: 'btn button1 mv-20 btn-wid' %>
<p>Log in with your account.</p>
<%= button_to "Sign Up", '/users/new', method: :get, class: 'btn button1 button2 mv-20 btn-wid'%>
<p>Please sign up if you are new user.</p>
</div>

